/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --cover-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --footer-title-color: #ff0070;
  --subtitle-color: #000028;
  --text-color: #ff0070;
  --paragraph-color: #f1b2ce;
  --menu-hover-color: rgba(255, 0, 112, 0.4);
}  

.theme-dark .header__block-right {
  display: flex;
}